<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Image Resize</title>
</head>
<body>
    <h1>IMAGE RESIZE</h1>
    <form action="/imagesURL" enctype="multipart/form-data" method="POST">
        <input type="file" accept="image/jpg, image/jpeg, image/gif, image/png " name="userImage">
        <br>
        <button>Submit</button>
    </form>
</body>
</html>