body{
    padding: 20px;
    text-align: center;

}
h1{
    font-size: 3rem;
}

form input{
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
    margin: 10px;
    font-size: 0.90rem;
}

img{
    max-width: 100%;
}

form button{
    padding: 0.75rem 1rem;
    background-color: #155cb4;
    color: #e7e7e7;
    border: 1px solid #0d3e7a;
    border-radius: 2px;
    font-size: 1rem;
}

form button:hover{
    cursor: pointer;;
    background-color: #0d3e7a;
}

.note{
    background-color: #d3ebff;
    border-left: 15px solid #0d3e7a;
    width: 50%;
    margin: 20px auto;
    padding: 2rem;
    font-size: 1.1rem;
    border-radius: 2px;
}

.note a{
    color: #0d3e7a;
}